@use '../../variables';
@use '../../mixins';

$width-table-cell: 100px;
$calendar-height: 500px;

:host {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.calendar-available-times {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: $calendar-height;
  overflow: auto;
}

.calendar-table {
  width: 100%;

  .mat-cell,
  .mat-header-cell {
    width: $width-table-cell;
    text-align: center;
  }
}

.calendar-paginator {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: variables.$spacing 0;

  mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid variables.$grey-xlight;
    padding: 0 variables.$spacing;
    color: variables.$secondary-color;
    cursor: pointer;
  }

  .icon-enabled {
    border: 1px solid variables.$grey-xlight;
    color: variables.$secondary-color;
    cursor: pointer;
  }

  .icon-disabled {
    border: 1px solid variables.$grey-xlight;
    color: variables.$grey-xlight;
    cursor: none;
  }
}

.calendar-paginator-dates {
  margin-left: variables.$spacing;
}

.calendar-book-class {
  background-color: variables.$primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  cursor: pointer;
  color: variables.$white;
}

.calendar-book-class:hover {
  background-color: variables.$primary-color-dark;
}

.calendar-book-class-unselected {
  background-color: variables.$primary-color;
}

.calendar-book-class-selected {
  background-color: variables.$yellow;
}

.calendar-book-class-selected:hover {
  background-color: variables.$yellow-dark;
}
