@use '../../variables';
@use '../../mixins';

$separator-width: 80px;

:host {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.calendar-available-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  p:first-of-type {
    margin-bottom: variables.$half-unit;
  }
}

.calendar-available-time:not(:first-of-type) {
  margin-left: variables.$unit * 3;
}

.calendar-separator {
  height: 3px;
  background-color: variables.$primary-color;
  margin: variables.$unit 0;
  width: $separator-width;
}

.week-day-now {
  color: variables.$primary-color;
}

.month-day-now {
  color: variables.$primary-color;
}

.calendar-times {
  p {
    cursor: pointer;
  }

  p:hover {
    color: variables.$primary-color;
  }
}
