@use '../../../variables';
@use '../../../mixins';

$input-width: 300px;
$max-width-availability: 60px;

.search-tutor-filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: variables.$spacing 0 variables.$spacing variables.$spacing;
  background-color: variables.$white;
  height: 100%;

  @include mixins.mobile {
    display: none;
  }
}

.search-tutor-separator {
  height: 1px;
  background-color: #dadada;
  width: $input-width;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: variables.$unit variables.$spacing;
}

.filter-title {
  margin: variables.$spacing 0 variables.$unit 0;
}

.keyword-field {
  width: $input-width;
}

.search-tutor-availabilities {
  margin: variables.$unit 0 variables.$spacing 0;
  width: $input-width;
}

.search-tutor-price {
  margin-bottom: variables.$spacing;
  width: $input-width;
}

.search-tutor-level {
  display: flex;
  flex-direction: column;
  margin-bottom: variables.$spacing;
}

.search-tutor-sort-menu {
  width: $input-width;
  margin: variables.$spacing 0;
}

.search-tutor-reset {
  color: variables.$red;
  margin: variables.$spacing 0;
  cursor: pointer;
}

.search-tutor-reset:active {
  color: variables.$red-dark;
}
