@use '../../variables';
@use '../../mixins';

$input-width: 300px;
$max-width-availability: 60px;

.search-tutor-filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: variables.$spacing 0 variables.$spacing variables.$spacing;
  background-color: variables.$white;
  height: 100%;

  @include mixins.mobile {
    display: none;
  }
}

.search-tutor-separator {
  height: 1px;
  background-color: #dadada;
  width: $input-width;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: variables.$unit variables.$spacing;
}

.filter-title {
  margin: variables.$spacing 0 variables.$unit 0;
}

.keyword-field {
  width: $input-width;
}

.search-tutor-price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: $input-width;
}

.search-tutor-slider {
  margin-left: variables.$spacing;
  width: 70%;
}

.search-tutor-price-range {
  margin-bottom: variables.$spacing;
}

.search-tutor-availabilities {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: $input-width;
  margin: variables.$unit 0 variables.$spacing 0;
  cursor: pointer;
}

.search-tutor-availability {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: $max-width-availability;
  color: variables.$primary-color;
}

.search-tutor-availability-disabled {
  color: variables.$grey;
}

.search-tutor-availability-msg {
  color: variables.$primary-color;
  text-align: center;
}

.search-tutor-availability-msg-disabled {
  color: variables.$grey;
}
