@use '../../variables';

$max-width-content: 1050px;

:host {
  display: flex;
  flex-direction: column;
  padding-top: variables.$spacing * 3;
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.tutor-details-header {
  background-color: variables.$white;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
}

.tutor-details-header-content {
  display: flex;
  flex-direction: row;
  max-width: $max-width-content;
  justify-content: center;
  padding: variables.$spacing;
}

.tutor-details-header-actions {
  display: flex;
  flex-direction: row;
  max-width: $max-width-content;
}

.tutor-details-image {
  margin-right: variables.$spacing;
}
