@use '../../../variables';
@use '../../../mixins';

$image-height: 30px;
$font-size-logo: 20px;
$font-size-text: 16px;

:host {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.app-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 0 variables.$spacing * 2;

  mat-icon {
    color: variables.$secondary-color;
    margin-right: variables.$half-unit;
    cursor: pointer;
    color: variables.$white;
  }

  p {
    color: variables.$white;
    font-size: $font-size-text;
  }

  @include mixins.mobile {
    p {
      display: none;
    }

    mat-icon {
      margin-right: 0;
      margin-left: variables.$spacing;
    }
  }
}

.scroll-color {
  background-color: variables.$primary-color;
}

.app-bar-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  img {
    height: $image-height;
    width: auto;
    margin-right: variables.$unit;
  }

  p {
    font-family: variables.$secondary-font;
    font-size: $font-size-logo;
  }
}

.app-bar-right {
  display: flex;
  flex-direction: row;
  align-items: center;

  app-button {
    padding: variables.$spacing;
  }

  p {
    margin-right: variables.$spacing * 2;
    cursor: pointer;
  }

  app-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  app-button:active {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
