@use '../../variables';
@use '../../mixins';

:host {
  position: relative;
  display: block;
}

h2 {
  margin-top: 0;
}

.close-button {
  position: absolute;
  top: -(variables.$spacing);
  right: -(variables.$spacing);
}
