@use '../../variables';
@use '../../mixins';

$font-size-logo: 20px;
$font-size-text: 16px;

:host {
  :hover {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.click-user {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  padding: variables.$spacing;
  :hover {
    background-color: transparent;
  }

  .button-icon {
    display: inline;
    margin-right: variables.$half-unit;
  }

  .button-message {
    display: inline;
    font-family: variables.$primary-font;
    font-size: $font-size-text;
  }

  @include mixins.tablet {
    .button-message {
      display: none;
    }

    .button-icon {
      margin-right: 0;
    }
  }
}

.click-user:active {
  .button-icon,
  .button-message {
    color: darken(variables.$white, 20);
  }
}
