@use '../../variables';
@use '../../mixins';

$image-height: 30px;
$font-size-logo: 20px;
$font-size-text: 16px;

.click-user {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  padding: 0 variables.$spacing;
  border-radius: 16px;

  .button-icon {
    display: inline;
    color: variables.$white;
    margin-right: variables.$half-unit;
  }

  .button-message {
    display: inline;
    font-family: variables.$primary-font;
    font-size: $font-size-text;
    color: variables.$white;
  }

  @include mixins.tablet {
    .button-message {
      display: none;
    }

    .button-icon {
      margin-right: 0;
    }
  }
}

.click-user:active {
  .button-icon,
  .button-message {
    color: variables.$grey-xlight;
  }
}
