@use '../../variables';
@use '../../mixins';

:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  :hover {
    background-color: transparent;
  }
}

.button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: variables.$half-unit;

  @include mixins.tablet {
    margin-right: 0;
  }
}

.button-message {
  display: inline;
  font-family: variables.$primary-font;
}
