@use '../../../variables';
@use '../../../mixins';

$max-width-content: 1050px;
$min-width-content: 300px;
$min-width-content-mobile: 175px;
$image-height: 200px;
$image-height-mobile: 150px;
$button-width: 260px;
$button-width-tablet: 200px;

:host {
  background-color: variables.$white;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: variables.$spacing * 3 variables.$unit variables.$spacing * 2 variables.$unit;
}

.tutor-details-header-content {
  display: flex;
  flex-direction: row;
  max-width: $max-width-content;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include mixins.tablet {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.tutor-details-header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: variables.$spacing;

  @include mixins.tablet {
    margin: 0;
  }

  @include mixins.mobile {
    flex-direction: column;
  }
}

.tutor-details-header-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: $min-width-content;

  @include mixins.mobile {
    min-width: $min-width-content-mobile;
  }
}

.tutor-details-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @include mixins.mobile {
    justify-content: flex-start;
  }
}

.tutor-details-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tutor-details-star {
  color: variables.$yellow;
}

.tutor-details-favorite {
  color: variables.$primary-color;
  margin: 0 variables.$spacing;
  cursor: pointer;
}

.tutor-details-favorite-filled {
  color: variables.$terciary-color;
  margin: 0 variables.$spacing;
  cursor: pointer;
}

.tutor-details-message {
  color: variables.$primary-color;
  cursor: pointer;
}

.tutor-details-send-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: $max-width-content;
  margin-top: variables.$spacing * 2;
  width: 100%;

  app-button {
    width: $button-width;
    background-color: variables.$primary-color;
    padding: variables.$spacing;

    @include mixins.tablet {
      width: $button-width-tablet;
      margin: 0 auto;
    }
  }
}

.tutor-details-image {
  margin-right: variables.$spacing;
  height: $image-height;

  @include mixins.mobile {
    margin-bottom: variables.$spacing;
  }
}

.tutor-details-video {
  outline: 0px;

  @include mixins.tablet {
    margin-top: variables.$spacing * 3;
  }

  @include mixins.mobile {
    margin-top: variables.$spacing;
    width: fit-content;
  }
}

.tutor-details-name {
  font-size: 28px;

  @include mixins.tablet {
    font-size: 22px;
  }

  @include mixins.mobile {
    margin-right: variables.$spacing;
  }
}

.tutor-details-short-description {
  margin-bottom: variables.$spacing;
  @include mixins.tablet {
    font-size: 18px;
  }
}

.tutor-details-header-item {
  display: flex;
  flex-direction: row;
  margin-bottom: variables.$unit;

  mat-icon {
    margin-right: variables.$unit;
  }
}
