@use '../../../variables';
@use '../../../mixins';

$max-width-content: 1050px;

:host {
  display: flex;
  flex-direction: column;
  padding-top: variables.$spacing * 3;
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.tutor-details-calendar {
  background-color: variables.$grey-xxxlight;
  margin-bottom: variables.$spacing * 2;
  width: 100%;
}

.tutor-details-calendar-content {
  background-color: variables.$white;
  max-width: $max-width-content;
  padding: variables.$spacing * 2 variables.$spacing * 4;
  box-shadow: 6px 6px 5px -2px rgba(96, 96, 96, 1);
  margin: 0 auto;

  @include mixins.tablet {
    padding: variables.$spacing * 2;
  }
}

.tutor-details-calendar-separator {
  height: 0.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1px solid variables.$grey-xxlight;
  margin: variables.$half-unit auto;
  margin-bottom: variables.$spacing;
}
