@use '../../../variables';
@use '../../../mixins';

$max-width-content: 1050px;
$min-width-content: 400px;
$min-width-content-mobile: 175px;
$image-height: 280px;
$image-height-tablet: 250px;
$image-height-mobile: 150px;
$button-width: 260px;
$button-width-tablet: 200px;

:host {
  background-color: variables.$white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: variables.$spacing * 3 0 variables.$spacing * 2 0;
}

.tutor-details-header {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1050px;
  padding: 0 variables.$spacing * 4;

  @include mixins.tablet {
    padding: 0 variables.$spacing * 2;
  }

  @include mixins.mobile {
    flex-direction: column;
  }
}

.tutor-details-header-left {
  width: 40%;
  @include mixins.mobile {
    width: 100%;
    text-align: center;
  }

  img {
    height: $image-height;
    margin-right: variables.$spacing;

    @include mixins.tablet {
      height: $image-height-tablet;
    }

    @include mixins.mobile {
      margin-bottom: variables.$spacing;
    }
  }
}

.tutor-details-header-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: $min-width-content;
  width: 60%;
  height: $image-height;

  @include mixins.tablet {
    height: $image-height-tablet;
  }

  @include mixins.mobile {
    width: 100%;
    min-width: $min-width-content-mobile;
  }
}

.tutor-details-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.tutor-details-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.tutor-details-star {
  color: variables.$yellow;
}

.tutor-details-favorite {
  color: variables.$primary-color;
  margin: 0 variables.$spacing * 2;
  cursor: pointer;
}

.tutor-details-favorite-filled {
  color: variables.$terciary-color;
  margin: 0 variables.$spacing * 2;
  cursor: pointer;
}

.tutor-details-message {
  color: variables.$primary-color;
  cursor: pointer;
}

.tutor-details-send-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-width: $max-width-content;
  margin-top: variables.$spacing;
  width: 100%;

  @include mixins.tablet {
    margin-top: 0;
  }

  app-button {
    width: $button-width;
    background-color: variables.$primary-color;
    padding: variables.$spacing;

    @include mixins.tablet {
      width: $button-width-tablet;
    }

    @include mixins.mobile {
      margin: 0 auto;
    }
  }
}

.tutor-details-name {
  font-size: 28px;

  @include mixins.tablet {
    font-size: 22px;
  }

  @include mixins.mobile {
    margin-right: variables.$spacing;
  }
}

.tutor-details-short-description {
  margin-bottom: variables.$spacing;
  @include mixins.tablet {
    font-size: 18px;
  }
}

.tutor-details-header-item {
  display: flex;
  flex-direction: row;
  margin-bottom: variables.$unit;

  mat-icon {
    margin-right: variables.$unit;
  }
}
