@use '../../variables';
@use '../../mixins';

.footer {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: variables.$spacing * 2 variables.$spacing;
  background-color: variables.$secondary-color;
  color: variables.$white;
}

.footer-items {
  display: flex;

  p {
    color: variables.$white;
    padding: 0 variables.$spacing;
  }
}
