@use '../../variables';
@use '../../mixins';

:host {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  padding: variables.$unit * 2 variables.$spacing * 2;
  background-color: variables.$secondary-color;
  color: variables.$white;
  z-index: 10;

  @include mixins.mobile {
    padding: variables.$unit * 2 variables.$spacing;
  }
}

.copyright {
  align-self: center;
}

.footer-items {
  display: flex;

  p {
    color: variables.$white;
    padding: 0 variables.$unit;

    cursor: pointer;
  }

  :hover {
    color: variables.$primary-color;
  }

  @include mixins.mobile {
    flex-direction: column;
    p {
      padding: 0;
    }
  }
}
