$primary-font: 'Roboto', 'Helvetica', 'Arial';
$secondary-font: 'Abel', 'Helvetica', 'Arial';

$primary-color: #3bb3bd;
$primary-color-dark: #32979f;
$secondary-color: #384047;
$terciary-color: #b9375e;
$terciary-color-dark: #872945;
$white: #ffffff;

$yellow: #f9a602;
$yellow-dark: #e29700;

$grey-xxxlight: #f2f2f2;
$grey-xxlight: #e2e2e2;
$grey-xlight: #dadada;
$grey-light: #8d8d8d;
$grey: #888888;
$grey-dark: #5e5e5e;

$facebook-color: #3d5188;
$google-color: #4285f4;

$unit: 8px !default;
$half-unit: 4px;
$spacing: 16px;
$border-radius: 4px;

$tablet-width: 'max-width: 959px';
$mobile-width: 'max-width: 599px';
