$primary-font: 'Roboto', 'Helvetica', 'Arial';
$secondary-font: 'Abel', 'Helvetica', 'Arial';

$primary-color: #3bb3bd;
$secondary-color: #384047;
$white: #ffffff;

$unit: 8px !default;
$half-unit: 4px;
$spacing: 16px;
$border-radius: 4px;

$tablet-width: 'max-width: 959px';
$mobile-width: 'max-width: 599px';
