@use 'variables';

/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
p {
  font-family: variables.$primary-font;
  margin: 0;
  padding: 0;
  color: variables.$secondary-color;
}

button {
  font-family: variables.$primary-font;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 300;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
