@use 'variables';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* You can add global styles to this file, and also import other style files */
body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5,
.mat-typography p {
  font-family: variables.$primary-font;
  margin: 0;
  padding: 0;
  color: variables.$secondary-color;
}

button,
input {
  font-family: variables.$primary-font;
}

.mat-typography h1 {
  font-size: 32px;
  font-weight: 400;
}

.mat-typography h2 {
  font-weight: 400;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-form-field {
  ::ng-deep .mat-form-field-wrapper {
    margin: 0;
    padding: 0;
  }
}

textarea:focus,
input:focus {
  outline: none;
}

.mat-checkbox-checked.mat-accent .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
  background-color: variables.$primary-color;
}

.mat-slider.mat-slider-horizontal .mat-slider-track-fill {
  background-color: variables.$primary-color;
}

.mat-accent .mat-slider-thumb {
  background-color: variables.$primary-color;
}
.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  background-color: white;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: variables.$primary-color;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
  color: variables.$primary-color;
  background-color: variables.$primary-color;
}

.mat-form-field.mat-focused.mat-primary .mat-select-arrow {
  color: variables.$primary-color;
}

.mat-paginator {
  background-color: transparent;

  .mat-paginator-outer-container .mat-paginator-container {
    padding: 0;
    justify-content: flex-start;
    width: auto;
  }
}
