@use '../../variables';
@use '../../mixins';

$height-search: 50px;
$width-search: 500px;
$width-search-mobile: 200px;
$font-size-search: 16px;
$max-width-content: 1050px;
$title-font-size-mobile: 20px;
$subtitle-font-size-mobile: 16px;

:host {
  position: absolute;
  width: 100%;
  top: 0;
  background-color: variables.$grey-xxlight;
}

.background-image {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    /* the gradient on top, adjust color and opacity to your taste */
      url('/assets/fotoPrincipal.jpg');
  height: 500px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -(variables.$spacing * 3);
}

.header-info {
  padding: 0 variables.$spacing;
  max-width: $max-width-content;
  width: 100%;

  @include mixins.mobile {
    max-width: 100%;
  }

  .title {
    color: variables.$white;
    margin-bottom: variables.$spacing;

    @include mixins.mobile {
      font-size: $title-font-size-mobile;
    }
  }

  .subtitle {
    color: variables.$white;

    @include mixins.mobile {
      font-size: $subtitle-font-size-mobile;
    }
  }

  .search-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: variables.$spacing * 4;

    .search-input {
      border: none;
      border-radius: variables.$border-radius 0 0 variables.$border-radius;
      height: $height-search;
      width: $width-search;
      font-size: $font-size-search;
      padding: 0 variables.$unit;
      background-color: variables.$white;

      @include mixins.mobile {
        width: $width-search-mobile;
      }
    }
  }

  .search-button {
    background-color: variables.$primary-color;
    color: variables.$white;
    border-radius: 0 variables.$border-radius variables.$border-radius 0;
    height: $height-search;
    font-size: $font-size-search;
  }
}

.main-body {
  padding: 0 variables.$spacing;
  max-width: $max-width-content;
  width: 100%;
  background-color: transparent;
  margin: 0 auto;
  margin-bottom: variables.$spacing;
}

.first-class-body {
  margin-top: variables.$spacing * 3;
  margin-bottom: variables.$spacing * 4;
  text-align: center;
  padding: 0 variables.$spacing * 10;
  color: variables.$grey;

  @include mixins.mobile {
    font-size: $subtitle-font-size-mobile;
    padding: 0 variables.$spacing * 2;
  }
}
