@use '../../../variables';
@use '../../../mixins';

$image-size: 400px;
$image-size-mobile: 250px;
$info-size: 230px;
$max-width: 700px;

.step-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  max-width: $max-width;
  margin: variables.$spacing * 2 0;

  @include mixins.tablet {
    padding: 0 variables.$spacing * 2;
  }
}

.step-first,
.step-third {
  display: flex;
  align-self: flex-start;
  margin-bottom: variables.$spacing * 6;
}

.step-second {
  display: flex;
  align-self: flex-end;
  margin-bottom: variables.$spacing * 6;
}

.step-message {
  align-self: center;
  margin: 0;
  margin-left: variables.$unit;
}
