@use '../../../variables';
@use '../../../mixins';

$max-width: 700px;
$height-body: 200px;

.tutor-info {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: $max-width;
  justify-content: space-between;
  align-items: center;
  margin-top: variables.$spacing;
  margin-bottom: variables.$spacing * 2;

  @include mixins.mobile {
    justify-content: center;
  }
}

.tutor-image {
  height: $height-body;

  @include mixins.mobile {
    display: none;
  }
}

.tutor-info-body {
  display: flex;
  flex-direction: column;
  margin-left: variables.$spacing;
  justify-content: space-between;
  height: $height-body;

  div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.tutor-icon {
  color: variables.$primary-color;
  margin-right: variables.$unit;
}

.tutor-start-message {
  text-align: center;
  @include mixins.mobile {
    font-size: 16px;
  }
}

.tutor-button {
  background-color: variables.$primary-color;
  color: variables.$white;
  padding: variables.$unit variables.$spacing;
  margin: variables.$spacing * 2 0;
  font-size: 16px;
}
